/* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins-v24-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/poppins-v24-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v24-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/poppins-v24-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

footer {
  background-color: #d9d9d9;
  padding: 20px;
  margin-top: 50px;
}

.container {
  width: 100%;
  max-width: 1530px;

  margin: 0 auto;
  padding: 0px 30px;
}

.hero-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 12px 15px;
  border-radius: 12px;
}

.hero-img img {
  border-radius: 12px;
}

.hero-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spans {
  display: flex;
  align-items: center;
  gap: 12px;
}

.spans p {
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
}
.twospan {
  border-bottom: 1px solid orange;
  color: #fc8a06;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  cursor: pointer;
}

.img-ps {
  display: flex;
  align-items: center;
  gap: 12px;
}

.img-ps p {
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
}
.five-sps {
  color: #fc8a06;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  margin-left: 18px;
  border-bottom: 1px solid orange;
  cursor: pointer;
}
.hero-img img {
  cursor: pointer;
}

.nav-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
}

.links a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  margin: 0px 25px;
  transition: all linear;
}

.links a:hover {
  color: #142262;
  border-bottom: 1.09px solid #132884;
  transition: all linear;
}

.links a:nth-child(1) {
  background-color: #fc8a06;
  border-radius: 15px;
  padding: 8px 30px;
  border: none;
  color: #ffffff;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 70px;
  background-color: #03081f;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.header-card {
  background-image:
    linear-gradient(
      to right,
      rgba(6, 1, 24, 0.9) 30%,
      rgba(6, 1, 24, 0.8) 100%
    ),
    url("./imgs/bacround-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #03081fe5;
  background-position: center;
  height: 500px;
  border-radius: 12px;
}

.card-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  /* margin: 0 auto; */
  margin-top: 41px;
}

.text-page p {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 66px;
  margin-top: 30%;
}

.text-page h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
}

.span-border {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 31px;
}

.span-border span {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  /* line-height: 66px; */
  border: 1px solid;
  padding: 8px 38px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.text-img {
  margin-top: 40px;
}
.text-img img {
  margin-left: 105%;
  position: relative;
  z-index: 10;
  margin-top: -140px;
}

.burger-img {
  position: relative;
}

.cloc-span {
  /* display: flex;
  align-items: center;
  gap: 12px; */
  background-color: orange;
  max-width: 300px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.cloc-span span {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 22px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-top: -23px;
}

.input-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.inp-h2 h2 {
  color: #000000;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}

.h2-input input {
  padding: 12px 50px;
  border-radius: 20px;
  border: 1px solid;
  color: #03081f;
  cursor: pointer;
}

.h2-input i {
  margin-right: -50px;
  position: relative;
  z-index: 10;
  color: #03081f;
}

.nav-card {
  background-color: #fc8a06;
  width: 100%;
  margin-top: 31px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  /* gap: 50px; */
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
}

.navbar a:nth-child(1) {
  background-color: #03081f;
  padding: 8px 20px;
  border-radius: 25px;
}

.rasmlar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
}

.rasmlar img {
  /* width: 450px;
   */
  width: 100%;
  max-width: 450px;
}

.subtitle h2 {
  color: #000000;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  margin-top: 71px;
}

.one-cards {
  /* width: 100%; */
  max-width: 490px;
  background-color: #ffffff;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  /* gap: 120px; */
  justify-content: space-between;

  padding: 5px 12px;
}

.card-text {
  margin-top: 24px;
}

.card-text h2 {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  max-width: 220px;
}

.card-text p {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-top: 24px;
  max-width: 228px;
}

.card-text span {
  color: #03081f;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}
.spn {
  margin-top: 24px;
}

.plus-cion img {
  position: relative;
  left: 360px;
  top: -10px;
  z-index: 5;
  background-color: #ffffff;
  padding: 8px 12px;
  border-top-left-radius: 32px;
}

/* .burger-menu img {
  position: relative;
  z-index: 0;
} */

.cardlar {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-top: 45px;
  /* flex-wrap: wrap; */
}

.plus-cion {
  cursor: pointer;
}

.burger-menu img {
  transition: all 0.3s linear;
  cursor: pointer;
}

.burger-menu img:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}

.subtitle-two h2 {
  color: #fc8a06;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  margin-top: 50px;
}

.inform-one {
  margin-left: 20px;
}
.ussu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.all-paragf span {
  color: #03081f;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.all-paragf {
  margin-top: 12px;
}

.all-paragf p {
  margin-top: 12px;
}

.work-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  background-color: #ffffff;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* padding: 0px 12px; */
  border-radius: 12px;
}

.opera h2 {
  color: #ffffff;
}

.iform-foo {
  background-color: #03081f;
  max-width: 450px;
  padding: 34px;
}

.two-paragf p {
  color: #ffffff;
  margin-top: 12px;
}

.maps iframe {
  border-radius: 12px;
  margin-top: 80px;
}

.maps-card {
  background-color: #03081f;
  max-width: 486px;
  border-radius: 12px;
  padding: 24px 34px;
  margin-top: -380px;
  position: relative;
  z-index: 10;
}

.maps-card h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  max-width: 150px;
  margin-top: 8px;
  /* margin-left: 50px; */
}

.maps-card p {
  color: #cecdcd;
  font-weight: 400;
  font-size: 18px;
  max-width: 400px;
  /* margin-left: 50px; */
}

.maps-card span {
  color: #fc8a06;
}

.simller {
  margin-top: 130px;
}
.smiler-imgs {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 42px;
}
.smiler-imgs img:hover {
  transform: scale(1.04);
  transition: all 1s linear;
}

.smiler-imgs img {
  max-width: 210px;
  transition: all 1s linear;
}
.suptitle h2 {
  color: #000000;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}

.icons {
  display: flex;
  align-items: center;
}

.all-footer {
  display: flex;
  align-items: center;
}

.icons {
  margin-top: 18px;
}

.logo-icons p {
  margin-top: 22px;
  max-width: 350px;
}

.input-footer h2 {
  color: #03081f;
  font-weight: 700;
  font-size: 18px;
  margin-top: -18px;
  /* line-height: 43px; */
}

.input-footer input {
  padding: 10px;
  padding-right: 80px;
  border-radius: 25px;
  border: none;
  background-color: #ebe6e6;
  color: black;
  margin-top: 22px;
}

.input-footer button {
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  background-color: #fc8a06;
  color: white;
  margin-left: -84px;
}

.input-footer p {
  color: #03081f;
  font-weight: 400;
  font-size: 13px;
  /* line-height: 43px; */
  margin-top: 14px;
}

.foter-icons {
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.footer-texts h2 {
  color: #03081f;
  font-weight: 700;
  font-size: 18px;
  line-height: 43px;
}

.footer-texts p {
  color: #000000;
  font-weight: 400;
  font-size: 15px;
  line-height: 43px;
}

.all-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  background-color: #03081f;
  color: #ffffff;
  padding: 22px;
  border-radius: 14px;
  width: 100%;
}

.ps-foter {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.footer-end h2 {
  font-weight: 400;
  font-size: 15px;
}

.ps-foter p {
  font-weight: 400;
  font-size: 15px;
}
